.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  padding: 8px;
  max-width: 240px;
}

.card.sale {
  background-color: #e8f6ff;
}

.card button {
  background-color: #0a84ff;
  color: #fff;
  padding: 8px;
  border: 0;
  border-radius: 4px;
}

.card span:before {
  content: '$';
}
